.header {
  width: 100%;
  height: auto;
  background-color: #a4c5fa;
}

img {
  width: 100px;
  cursor: pointer;
  transition: 0.3s ease-out;
}

img:hover {
  width: 110px;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: auto;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

li {
  cursor: pointer;
  padding: 8px;
  border-radius: 20px;
  transition: 0.5s ease-out;
}

li:hover {
  background-color: whitesmoke;
}
