<div class="header">
  <div class="flex-header">
    <div>
      <img
        src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_13761b66bc18f6995960889038274cf7/naviga-publisher.png"
        alt="Logo"
      />
    </div>
    <div>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Services</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
</div>
