.footer {
  width: 100%;
  height: auto;
  background-color: #a4c5fa;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
  margin-left: 10px;
}

li:hover {
  cursor: pointer;
  color: darkcyan;
}

img {
  width: 100px;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgb(129, 130, 135);
}
