<div class="footer">
  <div class="footer-flex">
    <div>
      <img
        src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_13761b66bc18f6995960889038274cf7/naviga-publisher.png"
        alt="Logo"
      />
    </div>
    <ul>
      <b>Solutions</b>
      <li>Publishing</li>
      <li>Commerce and Distribution</li>
      <li>Entertainment Media</li>
    </ul>
    <ul>
      <b>Resources</b>
      <li>Blog</li>
      <li>Events</li>
      <li>News</li>
    </ul>
  </div>
  <div class="copyright"><b>Naviga</b> &nbsp; COPYRIGHT © 2023 NAVIGA</div>
</div>
