.table {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: auto;
  margin-bottom: 20px;
  width: 60%;
  border-radius: 10px;
  flex-direction: column;
}

th {
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
}

span {
  cursor: pointer;
}

#edit:hover {
  color: blue;
}

#delete:hover {
  color: red;
}

button {
  background-color: #a4c5fa;
}

button:hover {
  background-color: #728db7;
  cursor: pointer;
}

input {
  width: 100%;
}
