<div class="table">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email address</th>
        <th>Phone Number</th>
        <th>Company</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let x of newUserData
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: pagination,
                };
          index as i
        "
      >
        <ng-container *ngIf="!isEditMode[i]; else editMode">
          <td>{{ x.name }}</td>
          <td>{{ x.email }}</td>
          <td>{{ x.phone }}</td>
          <td>{{ x.company }}</td>
          <td>{{ x.city }}</td>
          <td>
            <span
              class="material-symbols-outlined"
              id="edit"
              (click)="enableEditMode(i)"
              >edit</span
            >
            <span
              class="material-symbols-outlined"
              id="delete"
              (click)="deleteData(i)"
              >delete</span
            >
          </td>
        </ng-container>
        <ng-template #editMode>
          <td>
            <input type="text" [(ngModel)]="editedData[i].name" />
          </td>
          <td>
            <input type="email" [(ngModel)]="editedData[i].email" />
          </td>
          <td>
            <input type="tel" [(ngModel)]="editedData[i].phone" />
          </td>
          <td>
            <input type="text" [(ngModel)]="editedData[i].company" />
          </td>
          <td>
            <select [(ngModel)]="editedData[i].city">
              <option value="Noida">Noida</option>
              <option value="Delhi">Delhi</option>
              <option value="Gurugram">Gurugram</option>
              <option value="Agra">Agra</option>
              <option value="Ghaziabad">Ghaziabad</option>
              <option value="Bangalore">Bangalore</option>
            </select>
          </td>
          <td style="display: flex; column-gap: 10px">
            <button class="cancelBtn" (click)="cancelEditMode(i)">
              Cancel
            </button>
            <button class="editBtn" (click)="saveEditedData(i)">Save</button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
  <div>
    <pagination-controls
      (pageChange)="renderPage($event)"
    ></pagination-controls>
  </div>
</div>
