<div class="flex">
  <div [chart]="chart"></div>
  <div>
    <select (change)="handleSelectChange($event)">
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July" selected>July</option>
    </select>
  </div>
</div>
