.form {
  width: 40%;
  margin: 0 auto;
  border: 1px solid rgb(135, 129, 129);
  margin-top: 5px;
  border-radius: 10px;
  padding: 30px;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

select {
  padding: 10px;
}

.submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: #a4c5fa;
}

button:hover {
  background-color: #728db7;
  cursor: pointer;
}

#abc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail {
  display: flex;
  justify-content: flex-start;
}
