<div class="form">
  <div class="name" id="abc">
    <div>Name:</div>
    <div><input type="text" #name placeholder="Enter your name" /></div>
  </div>
  <div class="email" id="abc">
    <div>Email address:</div>
    <div>
      <input type="email" #email placeholder="Enter your email address" />
    </div>
  </div>
  <div class="phone" id="abc">
    <div>Phone Number:</div>
    <div>
      <input
        type="tel"
        #phone
        placeholder="Enter your phone number"
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
        required
        maxlength="10"
      />
    </div>
  </div>
  <div class="company" id="abc">
    <div>Company:</div>
    <div>
      <input type="text" #company placeholder="Enter your company name" />
    </div>
  </div>
  <div class="city" id="abc">
    City:
    <div>
      <select #city id="city">
        <option value="">Select your city</option>
        <option value="Noida">Noida</option>
        <option value="Delhi">Delhi</option>
        <option value="Gurugram">Gurugram</option>
        <option value="Agra">Agra</option>
        <option value="Ghaziabad">Ghaziabad</option>
        <option value="Bangalore">Bangalore</option>
      </select>
    </div>
  </div>
  <div class="submit">
    <button
      (click)="
        newData(name.value, email.value, phone.value, company.value, city.value)
      "
    >
      Add
    </button>
  </div>
</div>
