<div class="container">
  <app-header></app-header>
  <div class="main-content">
    <app-form [newUserData]="userData"></app-form>
    <app-table [newUserData]="userData"></app-table>
    <app-pie-chart></app-pie-chart>
  </div>
  <app-footer></app-footer>
</div>
