/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh; /* Ensure the container covers the full viewport height */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.highcharts-credits {
  display: none;
}